.features-list {
  .list-reset();
  background-color: @white;
}

.features-list {
  text-align: start;
}

.features-list__title {
  font-weight: bold;
}
.features-list__text {
  font-size: 14px;
  line-height: 21px;
}
.features-list__item {
}

@media (min-width: @tablet-width) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  .features-list__item {
    height: 330px;
    width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .features-list__item {
    width: 400px;
  }
}
