.features-list {
  .list-reset();
  background-color: @white;
  text-align: start;
  min-height: 416px;
  display: flex;
  flex-direction: column;
}
.features-list__item {
  position: relative;
}
.features-list__item svg {
  position: absolute;
  fill: @bg-lightblue;
}
.features__house-img {
  top: 26px;
  left: 22px;
  width:37px;
  height: 36px;
}
.features__gift-img {
  top: 19px;
  left: 23px;
  width:37px;
  height: 36px;
}
.features__burger-img {
  top: 23px;
  left: 20px;
  width:37px;
  height: 36px;
}

.features-list__content {
  width: 210px;
  margin-left: 70px;
  min-height: 99px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // outline: 1px solid green;
}
.features-living {
  margin-top: 37px;
}
.features-souvenirs {
  margin-top: 32px;
  min-height: 79px;
}
.features-food {
  margin-top: 31px;
  margin-bottom: 39px;
}

.features-list__title {
  .font-bold ();
  font-size: 18px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.features-list__text {
  font-size: 14px;
  line-height: 21px;
  color: @darkgrey;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features-list {
    min-height: 330px;
    flex-direction: row;
  }
  .features-list__item {
    width: 256px;
    height: 330px;
  }
  .features-list__item-souvenirs {
    order: 2;
  }

  .features-list__content {
    width: 163px;
    min-height: 107px;
    margin: 162px auto auto;
    text-align: center;
  }
  .features-list__title {
    font-size: 21px;
  }
  .features-list__text {
    margin-top: auto;
  }
  .features-list__text-food {
    width: 158px;
  }
  .features__house-img {
    top: 60px;
    left: 90px;
    width:75px;
    height: 72px;
  }
  .features__gift-img {
    top: 57px;
    left: 96px;
    width: 64px;
    height: 75px;
  }
  .features__burger-img {
    top: 63px;
    left: 89px;
    width: 77px;
    height: 68px;
  }
}

@media (min-width: @desktop-width) {
  .features-list__item {
    width: 400px;
  }
  .features-list__content {
    min-width: 283px;
  }

  .features-list__text {
    margin-bottom: 20px;
  }
  .features__text-block {
    display: block;
  }
  .features-list__text-food {
    width: 283px;
  }
  .features__house-img {
    top: 60px;
    left: 161px;
    width: 75px;
    height: 72px;
  }
  .features__gift-img {
    top: 57px;
    left: 168px;
    width: 64px;
    height: 75px;
  }
  .features__burger-img {
    top: 63px;
    left: 161px;;
    width: 77px;
    height: 68px;
  }
}

