.gallery__list {
  .list-reset();
}
.gallery__header {
  width: 270px;
  min-height: 124px;
  margin: 44px auto 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery__title {
  font-size: 18px;
  font-family: "PT Sans Bold";
  font-weight: bold;
  margin: 0;
}
.gallery__header-description {
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
  margin: 0;
}
.gallery__item {
  padding-top: 22px;
}

.gallery__text {
  .align-start();
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
  text-transform: initial;
}

.gallery__description{
  .align-start();
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans Bold";
}

.gallery__like-counter {
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans Bold";
}
.gallery__wrapper {
  padding: 0 20px;
}

.gallery__img {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  //Временно для сетки
  outline: 2px solid red;
}
.gallery__wrapper {
  text-align: initial;
}

@media (min-width: @tablet-width) {
  .gallery__header {
    width: 470px;
    min-height: 103px;
    margin: 76px auto;
  }
  .gallery__title {
    font-size: 30px;
  }
  .gallery__header-description {
    font-size: 14px;
    line-height: 24px;
    color: @darkgrey;
    margin: 0;
  }

  .gallery__header--description{
    font-size: 14px;
    line-height: 24px;
    color: @darkgrey;
    text-align: center;
  }
  .gallery__list {
    width: 648px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }
  .gallery__item {
    padding-top: 0px;
  }
  .gallery__img {
    width: 324px;
    height: 267px;
    //Временно для сетки
  }

  .gallery__img--main {
    width: 648px;
    height: 400px;
  }
  .gallery__wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @bg-lightgrey;
  }
}

@media (min-width: @desktop-width) {
  .gallery__header {
    margin: 113px auto 77px;
  }
  .gallery__list {
    width: 1200px;
  }
  .gallery__img {
    width: 400px;
  }
  .gallery__img--main {
    width: 1200px;
  }
}


