.gallery__list {
  .list-reset();
}
.gallery__header {
  width: 270px;
  min-height: 124px;
  margin: 38px auto 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery__title {
  font-size: 18px;
  font-family: "PT Sans Bold";
  font-weight: bold;
  margin: 0;
}
.gallery__header-description {
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
  margin: 0;
}
.gallery__item {
  padding-top: 22px;

  // outline: 1px solid red;
}

.gallery__wrapper {
  text-align: initial;
  padding: 0 22px;
  padding-top: 17px;
  height: 95px;
  // outline: 1px solid red
}
.gallery__description{
  .align-start();
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans Bold";
}
.gallery__text {
  .align-start();
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
  text-transform: initial;
}
.gallery__wrapper-button {
  padding-top: 5px;
}
.gallery__like-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans Bold";
}

.gallery__img {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}
.gallery__img img{
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .gallery__header {
    width: 470px;
    min-height: 103px;
    margin: 72px auto;
  }
  .gallery__title {
    font-size: 30px;
  }
  .gallery__header-description {
    font-size: 14px;
    line-height: 24px;
    color: @darkgrey;
    margin: 0;
  }

  .gallery__header--description{
    font-size: 14px;
    line-height: 24px;
    color: @darkgrey;
    text-align: center;
  }
  .gallery__list {
    width: 648px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }
  .gallery__item {
    padding-top: 0px;
  }
  .gallery__img {
    width: 324px;
    height: 267px;
    //Временно для сетки
  }

  .gallery__img--main {
    width: 648px;
    height: 400px;
  }
  .gallery__wrapper {
    height: 80px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @bg-lightgrey;
  }
  .gallery__wrapper-road {
    background-color: @bg-grey;
  }
}

@media (min-width: @desktop-width) {
  .gallery__header {
    margin: 111px auto 72px;
  }
  .gallery__list {
    width: 1200px;
  }
  .gallery__img {
    width: 400px;
  }
  .gallery__img--main {
    width: 1200px;
  }
  .gallery__wrapper {
    position: relative;
    padding: 0 20px;
    margin-top: -80px;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.3);
  }
  .gallery__description {
    color: @white;
  }
  .gallery__text {
    color: @white;
  }
  .gallery__wrapper-button {
    color: @white;

  }
}


