.gallery__list {
  .list-reset();
}
.gallery__title {
  font-weight: bold;
}
.gallery__text {
  .align-start();
  font-size: 14px;
  line-height: 24px;
}
.gallery__description{
  .align-start();
  font-size: 14px;
  font-weight: bold;
}


