.presentation__wrapper {
  width: 238px;

  margin: 34px auto;
}
.presentation__title {
  font-size: 18px;
  font-weight: bold;
  font-family: "PT Sans Bold";
}
.presentation__text {
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
}

.presentation__controls-wrapper {
  width: 280px;
  height: 111px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  //временно
  // outline: 2px solid red;
  }

  .presentation__range {
    width: 280px;
  }
  .presentation__rewatch-button {
    margin-right: auto;
  }


  @media (min-width: @tablet-width) {
    .presentation__wrapper {
      width: 417px;
      min-height: 106px;
      margin: 64px auto 73px;
    }
    .presentation__title {
      font-size: 30px;
      margin: 0;
      margin-bottom: 25px;
    }
    .presentation__text {
      line-height: 24px;
    }
    .presentation__controls-wrapper {
      width: 648px;
      height: 93px;
      align-content: center;
      justify-content: space-between;
    }
    .presentation__rewatch-button {
      margin-right: initial;
      order: -1;
    }
    .presentation__range {
      width: 389px;
    }
  }

  @media (min-width: @desktop-width) {
    .presentation__wrapper {
      margin: 69px auto 73px;
    }
    .presentation__controls-wrapper {
      width: 800px;
    }
    .presentation__range {
      width: 540px;
    }
  }
