.search__title {
  font-size: 21px;
  font-weight: bold;
}
.search__text {
  font-size: 14px;
  line-height: 24px;
  color: @darkgrey;
}
.search__button {
  font-size: 21px;
  font-weight: bold;
}

.search__map {
  width: 100%;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .search__text {
    width: 442px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {

}
